@font-face{
	font-family: 'AvenirNext';
	src: url(fonts/AvenirNext-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
}


.widget-wrapper-cubes{
	width: 100%;
	height: 100%;
	margin: auto;
	background: url(images/cubes/background.gif) no-repeat;
	position: relative;
	background-size: cover;
	cursor: default;
}
.widget-wrapper-cubes--vertical-center{
	display: flex;
	flex-direction: column;
	justify-content: center; 
}


.cubes{
	list-style-type: none;
	font-size: 0;
	width: 612px;
	height: 400px;
	padding: 0;
	box-shadow: 3px 3px 100px 10px;
} 
.cubes--center{
	margin: auto;
}


.cube{
	display: inline-block;
	position: relative;
	width: 204px;
	height: 204px;
	box-sizing: border-box;
	overflow: hidden;
}
.cube--color-town-chicago{
	background-color: #00c0e2;
}
.cube--color-town-seattle{
	background-color: #5bd998;
}
.cube--color-town-brooklyn{
	background-color: #7558f8
}
.cube--color-town-portland{
	background-color: #e9c14d;
}
.cube--color-town-spb{
	background-color: #e55679;	
}
.cube--color-town-san-jose{
	background-color: #cb70d6;
}


.cube__icon{
	position: relative;
	width: 100%;
	height:  50%;
	top:  15%;
	transition: 1s .2s;
} 

.cube__icon--position-top{
	top: 3%;
	transition: 1s 0s;
}

.cube__icon--weather-rain{
	background: url(images/cubes/weather-rain.png) 50% 30% no-repeat;
}
.cube__icon--weather-fog{
	background: url(images/cubes/weather-fog.png) 50% 30% no-repeat;
}
.cube__icon--weather-sun-with-cloud{
	background: url(images/cubes/weather-swc.png) 50% 30% no-repeat;
}
.cube__icon--weather-snow{
	background: url(images/cubes/weather-snow.png) 50% 30% no-repeat;
}
.cube__icon--weather-cwm{
	background: url(images/cubes/weather-cwm.png) 50% 30% no-repeat;
}
.cube__icon--weather-cloud{
	background: url(images/cubes/weather-cloud.png) 50% 30% no-repeat;
}
.cube__icon--size-small{
	height: 20px;
	background-size: 20px 20px;
}

.cube__info{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200%;
	height: 50%;

	font-family: AvenirNext;
	font-size: 16px;
	text-transform: uppercase;
	color:  white;
	text-align: center;
	transition: 1s ease-in-out;
} 
.cube__info--position-today{
	left: 0px;
	transition-delay: 0s;
}
.cube__info--position-week{
	left: -100%;
	transition-delay: .2s;
}
.cube__info-today{
	position: absolute;
	left: 0;
	width: 50%;
	height: 100%;
	line-height: 100px;
	box-sizing: border-box;
}
.cube__info-week-wrapper{
	position: absolute;
	left: 50%;
	width: 50%;
	height: 100%;
	background-color: rgba(0,0,0, 0.2);
	box-sizing: border-box;
	
	display: flex;
	flex-direction:  column;
	justify-content:  center;
}
.cube__info-week{
	list-style: none;
	position: relative;
	padding: 0;
	width: 80%;
	left: 10%;
	white-space: nowrap;
}

.day{
	display: inline-block;
	width: 25%;
	font-size: 12px;
}
.day__day-name{}
.day__day-icon--weather-rain{
	background: url(images/cubes/weather-rain.png) 50% 30% no-repeat;
}
.day__day-icon--weather-fog{
	background: url(images/cubes/weather-fog.png) 50% 30% no-repeat;
}
.day__day-icon--weather-sun-with-cloud{
	background: url(images/cubes/weather-swc.png) 50% 30% no-repeat;
}
.day__day-icon--weather-snow{
	background: url(images/cubes/weather-snow.png) 50% 30% no-repeat;
}
.day__day-icon--weather-cwm{
	background: url(images/cubes/weather-cwm.png) 50% 30% no-repeat;
}
.day__day-icon--weather-cloud{
	background: url(images/cubes/weather-cloud.png) 50% 30% no-repeat;
}
.day__day-icon{
	height: 20px;
	background-size: 20px 20px;
} 
.day__day-temp{}
















































main{
	width: 100%;
	height: 600px;
	/*outline: 1px solid red;*/
}

/*begin cubes*/
#cubes{
	width: 800px;
	margin: auto;
	background: url(images/cubes/background.gif) no-repeat cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	font-family: AvenirNext;
}

#cubes > ul {
	list-style-type: none;
	font-size: 0;
	width: 612px;
	height: 400px;
	margin: auto;
	padding: 0;
	box-shadow: 3px 3px 100px 10px;
}

#cubes > ul > li {
	display: inline-block;
	position: relative;
	width: 204px;
	height: 204px;
	box-sizing: border-box;
	overflow: hidden;
}

#cubes > ul > li:nth-child(2), /* mb shadow is result of convert*/
#cubes > ul > li:nth-child(5){
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.12);
}


#cubes > ul > li > .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 1s .3s;
}

#cubes > ul > li:not(.today) > .icon{
	height: 50%;
	transition: 1s 0s;
}


#cubes > ul > li .info{
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	transition: 1s ease-in-out; /*cubic-bezier(.64, 1.28, .84, 1.23);*/
}

#cubes > ul > li:not(.today) .info{
	left: -100%;
	background-color: rgba(0,0,0, 1);
}

#cubes > ul > li .today{
	position: absolute;
	bottom: 42px;
	height: 20px;
	width: 100%;
	line-height: 20px;
	color: white;
	text-align: center;
	font-size: 17px;
	background-color: rgba(0,0,0, 0.0);
	transition: 1s;
	/*display: none;*/
}

#cubes > ul > li .week{
	position: absolute;
	width: 100%;
	height: 102px;
	bottom: 0px;
	left: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0, 0.3);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#cubes > ul > li .week ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 80%;
	box-sizing: border-box;
	font-size: 0;
	text-align: center;

}

#cubes > ul > li .week li {
	display: inline-block;
	font-size: 12px;
	width: 25%;
}

#cubes > ul > li .week li div{
	height: 20px;
	color: white;
	background-size: 20px 20px;
}

/*begin choose icon by class*/
	#cubes .weather-rain{
		background: url(images/cubes/weather-rain.png) 50% 30% no-repeat;
	}

	#cubes .weather-fog{
		background: url(images/cubes/weather-fog.png) 50% 30% no-repeat;
	}

	#cubes .weather-snow{
		background: url(images/cubes/weather-snow.png) 50% 30% no-repeat;
	}

	#cubes .weather-sun-with-cloud{
		background: url(images/cubes/weather-swc.png) 50% 30% no-repeat;
	}

	#cubes .weather-cwm{
		background: url(images/cubes/weather-cwm.png) 50% 30% no-repeat;	
	}

	#cubes .weather-cloud{
		background: url(images/cubes/weather-cloud.png) 50% 30% no-repeat;	
	}

/*end choose icon by class*/




/*begin coloring by town*/
	#cubes .town-chicago{
		background-color: #00c0e2;
	}

	#cubes .town-seattle{
		background-color: #5bd998;
	}

	#cubes .town-brooklyn{
		background-color: #7558f8
	}

	#cubes .town-portland{
		background-color: #e9c14d;
	}

	#cubes .town-spb{
		background-color: #e55679;	
	}

	#cubes .town-san-jose{
		background-color: #cb70d6;
	}

/*end coloring by town*/


 



/* end cubes */